# requirements.txt
pyarrow>=10.0.1,<10.1.0
SQLAlchemy<2.0
apispec>=5.0.0
marshmallow-sqlalchemy>=0.30.0
Flask<2.3
Flask-SQLAlchemy<3.0
Flask-AppBuilder<4.0

# apache-airflow-providers-mysql
# apache-airflow-providers-postgres
# apache-airflow-providers-snowflake
